node-red-0.8.1/flows.backup
[{"type":"tab","id":"d129441e.2ed6b8","label":"DoorLock"},{"id":"f01cb07d.0fe35","type":"twitter-credentials","screen_name":""},{"id":"e5d90f58.1a26f","type":"twitter-credentials","screen_name":""},{"id":"892b2ea7.76d4d","type":"twitter-credentials","screen_name":"@controler12"},{"id":"3cd545a.fc32aba","type":"twitter-credentials","screen_name":"@ECE490DoorLock"},{"id":"cf2b9316.30d47","type":"serial-port","serialport":"COM19","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"false"},{"id":"ed72ea63.128d18","type":"debug","name":"","active":true,"console":"true","complete":"false","x":750,"y":385,"z":"d129441e.2ed6b8","wires":[]},{"id":"8cbda33a.73426","type":"twitter in","twitter":"3cd545a.fc32aba","tags":"@controler12","user":"dm","name":"Twitter","topic":"tweets","x":89,"y":387,"z":"d129441e.2ed6b8","wires":[["26611b27.d99ee4"]]},{"id":"26611b27.d99ee4","type":"switch","name":"Check Lock","property":"payload","rules":[{"t":"eq","v":"Check Lock"},{"t":"eq","v":"Lock Door"},{"t":"eq","v":"Unlock Door"}],"checkall":"true","outputs":3,"x":244,"y":652,"z":"d129441e.2ed6b8","wires":[["f52d9363.0ad27"],["bf861ec5.4079e"],["d79bfc4e.2864"]]},{"id":"98002d50.67ffd","type":"twitter out","twitter":"3cd545a.fc32aba","name":"The Door has been Locked","x":1493,"y":635,"z":"d129441e.2ed6b8","wires":[]},{"id":"a2b3a521.5d4c58","type":"twitter out","twitter":"3cd545a.fc32aba","name":"The Door has been Unlocked","x":1496,"y":705,"z":"d129441e.2ed6b8","wires":[]},{"id":"219edb84.de6124","type":"serial in","name":"Xbee","serial":"cf2b9316.30d47","x":330,"y":891,"z":"d129441e.2ed6b8","wires":[["88805f82.777fa"]]},{"id":"75aa2fda.8a55d","type":"serial out","name":"Send To Arduino","serial":"cf2b9316.30d47","x":918,"y":472,"z":"d129441e.2ed6b8","wires":[]},{"id":"f52d9363.0ad27","type":"change","action":"replace","property":"payload","from":"","to":"1","reg":false,"name":"Send 1 to arduino","x":477,"y":627,"z":"d129441e.2ed6b8","wires":[["75aa2fda.8a55d","ed72ea63.128d18"]]},{"id":"81db3e99.7e24c","type":"change","action":"replace","property":"payload","from":"","to":"The Door has been Locked ","reg":false,"name":"The Door has been Locked","x":882,"y":640,"z":"d129441e.2ed6b8","wires":[["8d004b34.72ffb8"]]},{"id":"7b2c783d.84d388","type":"change","action":"replace","property":"payload","from":"","to":"The Door has been Unlocked ","reg":false,"name":"The Door has been Unlocked","x":877,"y":708,"z":"d129441e.2ed6b8","wires":[["a2ab88ed.5d5478"]]},{"id":"88805f82.777fa","type":"switch","name":"Door Status","property":"payload","rules":[{"t":"eq","v":0,"v2":0},{"t":"eq","v":1,"v2":0}],"checkall":"true","outputs":2,"x":556,"y":884,"z":"d129441e.2ed6b8","wires":[["cc3ed969.33c128"],["8d336303.72cca"]]},{"id":"47aa631f.b8559c","type":"twitter out","twitter":"3cd545a.fc32aba","name":"The Door is currently Locked","x":1496,"y":833,"z":"d129441e.2ed6b8","wires":[]},{"id":"73794d97.8c86b4","type":"twitter out","twitter":"3cd545a.fc32aba","name":"The Door is currently Unlocked","x":1500,"y":884,"z":"d129441e.2ed6b8","wires":[]},{"id":"bf861ec5.4079e","type":"change","action":"replace","property":"payload","from":"","to":"2","reg":false,"name":"Send 2 to arduino","x":484,"y":671,"z":"d129441e.2ed6b8","wires":[["75aa2fda.8a55d","81db3e99.7e24c","ed72ea63.128d18"]]},{"id":"d79bfc4e.2864","type":"change","action":"replace","property":"payload","from":"","to":"3","reg":false,"name":"Send 3 to arduino","x":500,"y":715,"z":"d129441e.2ed6b8","wires":[["7b2c783d.84d388","75aa2fda.8a55d","ed72ea63.128d18"]]},{"id":"4d38e6bc.b2c718","type":"function","name":"TimeStamp","func":"var timestamp= new Date().getTime();\n\nvar time = timestamp.toString();\n\nvar payload= msg.payload;\n\nmsg.payload = payload.concat(time);\nreturn msg;","outputs":1,"x":538,"y":377,"z":"d129441e.2ed6b8","wires":[[]]},{"id":"d0156b7b.2fea98","type":"inject","name":"","topic":"TimeStamp","payload":"TimeStamp","payloadType":"string","repeat":"3","crontab":"","once":false,"x":345,"y":362,"z":"d129441e.2ed6b8","wires":[["4d38e6bc.b2c718"]]},{"id":"8d004b34.72ffb8","type":"function","name":"TimeStamp","func":"var timestamp= new Date().getTime();\n\nvar time = timestamp.toString();\n\nvar payload= msg.payload;\n\nmsg.payload = payload.concat(time);\nreturn msg;","outputs":1,"x":1189,"y":643,"z":"d129441e.2ed6b8","wires":[["98002d50.67ffd","ed72ea63.128d18"]]},{"id":"a2ab88ed.5d5478","type":"function","name":"TimeStamp","func":"var timestamp= new Date().getTime();\n\nvar time = timestamp.toString();\n\nvar payload= msg.payload;\n\nmsg.payload = payload.concat(time);\nreturn msg;","outputs":1,"x":1193,"y":713,"z":"d129441e.2ed6b8","wires":[["a2b3a521.5d4c58","ed72ea63.128d18"]]},{"id":"371ba3a1.c8e45c","type":"function","name":"TimeStamp","func":"var timestamp= new Date().getTime();\n\nvar time = timestamp.toString();\n\nvar payload= msg.payload;\n\nmsg.payload = payload.concat(time);\nreturn msg;","outputs":1,"x":1105,"y":842,"z":"d129441e.2ed6b8","wires":[["47aa631f.b8559c"]]},{"id":"8b96fa46.746908","type":"function","name":"TimeStamp","func":"var timestamp= new Date().getTime();\n\nvar time = timestamp.toString();\n\nvar payload= msg.payload;\n\nmsg.payload = payload.concat(time);\nreturn msg;","outputs":1,"x":1104,"y":886,"z":"d129441e.2ed6b8","wires":[["73794d97.8c86b4"]]},{"id":"8d336303.72cca","type":"change","action":"replace","property":"payload","from":"","to":"The Door is currently Unlocked ","reg":false,"name":"The Door is currently Unlocked ","x":827,"y":896,"z":"d129441e.2ed6b8","wires":[["8b96fa46.746908"]]},{"id":"cc3ed969.33c128","type":"change","action":"replace","property":"payload","from":"","to":"The Door is currently Locked ","reg":false,"name":"The Door is currently Locked","x":822,"y":839,"z":"d129441e.2ed6b8","wires":[["371ba3a1.c8e45c"]]}]